@import '~antd/dist/antd.css';

.App {
    font-family: 'Rubik', sans-serif;
}

.App-logo {
    height: 40px;
    padding: 0;
}

.header {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    background-color: #222;
    color: white;
    display: flex;
    align-items: center;
    padding: 8px;
}

.nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-list-item {
    margin-right: 20px;
}

.nav-list-item-link {
    color: #fff;
    text-decoration: none;
    transition: color .3s;
}

.nav-list-item-link:hover {
    color: #ccc;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}