.App {
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 44px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #222;
    height: 44px;
    padding: 8px;
    color: white;
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0 0 0 30px;
    padding: 0;
}

.nav-list-item {
    margin-right: 20px;
}

.nav-list-item-link {
    color: #fff;
    text-decoration: none;
    transition: color .3s;
}

.nav-list-item-link:hover {
    color: #ccc;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
