.Theme {
    display: grid;
    grid-template-columns: 3fr 1fr ;
}
    .Theme-content {
        padding: 32px;
    }
        .Theme-content__header {
            margin: 32px 0 32px 0;
        }
            .Theme-content__header__name {
                font-size: 3em;
            }




p.intro::first-letter {
    color: #ff0000;
    font-size:200%;
}

.Theme-content__header__subjects{
    padding: 0;
}
.Theme-content__header__subject {
    list-style-type: none;
    padding: 0;
}

    .Theme-questions {
        position: fixed;
        right: 0;
        top: 56px;
        width: 25%;
        height: 100vh;
        background-color: #f9f9f9;
        padding: 24px;
    }

